* {
    padding: 0 !important;
    margin: 0 !important;
  }

.selector-for-some-widget {
    box-sizing: content-box;
}

.nunito-uniquifier {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

body {
    font-family: "Nunito", sans-serif;
    background-color: #fff;
    color: #353535;
}

body::-webkit-scrollbar {
    display: none;
}

nav {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #010246;
}

.logo img {
    height: 60px;
}


h2,
h3 {
    color: #03484c;
}

h1{
    font-size: xx-large;
    color:  #010246;
}

.botao1 a {
    display: block;
    width: 250px;
    height: 45px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #0a3d00;
    border: 2px solid #3b8952;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
}

.botao1 a span {
    position: relative;
    z-index: 2;
}

.botao1 a:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #11722e;
    transition: all .35s;
}

.botao1 a:hover {
    color: #fff;
}

.botao1 a:hover:after {
    width: 100%;
}

.max-height-screen {
    max-height: calc(175vh - 60px - 40px);
}

.image-container {
    height: calc(175vh - 60px - 40px); 
    overflow: hidden;
    width: 90%;
}

.full-height-image {
    min-height: calc(175vh - 60px - 40px);
    max-width: 80%; 
    z-index: -999;
}
